.close{
    font-size: 2.5em;
    font-weight: 100 !important;
}
*{
    font-family: 'Roboto', sans-serif;
    color: #484848;
}
h5{
    font-family: 'Roboto', sans-serif;
    color: #484848;
    font-size: 16pt;
}
h6{
    font-size: 12pt;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #484848;
}
.stickydiv{
    position: sticky;
    top: 0;
    background-color: white

}
.divider{
    margin: 20px 0 20px 0 
}
.btn-flat {
    border: 2px solid  #4c9599;
    border-radius: 10px;
    text-transform: none;
    color: #4c9599;
    margin: 20px 0 20px 0;
}
h3{
    font-size: 20pt;
    margin: 15px 0 ;
    font-family: 'Roboto', sans-serif;
    color: #484848;
}
.checkin{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #484848;
}
.row{
    margin-bottom: 0px;
}
a{
    color: #4c9599;
}
.name{
    margin-top: 0
}
p{
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    margin: 5px 0 5px 0
}
a i {
    color: #4c9599;
}